.card-group{
    text-align: center;
}
.textprod{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Bebas Neue', cursive;
    font-size: 1.4rem;
    text-shadow: 1px 1px 1.5px rgb(0, 0, 0);
}