

@media screen and (max-width: 1440px) {

    .video{
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 770px) {

    .video{
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 440px) {

    .video{
        width: 100%;
        height: 100%;
    }
}
