@mixin anim {
    -webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
    @-webkit-keyframes focus-in-contract {
        0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
        }
        100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
        }
    }
    @keyframes focus-in-contract {
        0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
        }
        100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
        }
    }
    
}

@mixin texto {
        text-align: center;
        color: map-get($colores, "text-1");
        font-family: 'Bebas Neue', cursive;
        text-shadow: 1px 1px 1.5px rgb(0, 0, 0);
        @include anim;
}