.textprod{
    text-align: center;
    color: map-get($colores, "text-1");
    font-family: 'Bebas Neue', cursive;
    font-size: 1.4rem;
    text-shadow: 1px 1px 1.5px rgb(0, 0, 0);
}
.card-group{
    text-align: center;
}